.carousel .carousel-item   {
    height: 100vh;
    margin-top: -56px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-height: 100vh;
}

body{
    background-color: black;
}

body{
    color: #fff;
}